<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> emotiMusic </title>
    <link rel="stylesheet" href="./image.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  </head>

  <body>

    <div class="wrapper">

      <a href="/">
        <header>
          <h1 class='header-logo'><span style='color: #FF7043'>emoti</span>Music</h1>
        </header>
      </a>

      <% if (!faceData.error) { %>
        <div class='stats'>
          <!-- <div class="circle">
            <div class="line"></div>
          </div> -->
          <img src="<%= faceData.imageLink%>" alt="">
          <div class="stats-data">
            <% if (faceData.length <= 1) { %>
                 <h3>Emotion Values - <%=faceData.length%> person detected%></h3>
                 <br/>
            <% } else { %>
                 <h3>Emotion Values - <%=faceData.length%> people detected%></h3>
                 <br/>
            <% } %>

            <%faceData.forEach((face, i) => {%>
              <% if (faceData.length > 1) { %>
                   <p>person <%=i+1%></p>
              <% } %>
              <p> anger: &nbsp; <%=face.scores.anger * 100 %>%</p>
              <p> contempt: &nbsp; <%=face.scores.contempt * 100 %>%</p>
              <p> disgust: &nbsp; <%=face.scores.disgust * 100 %>%</p>
              <p> fear: &nbsp; <%=face.scores.fear * 100 %>%</p>
              <p> happiness:&nbsp;  <%=face.scores.happiness * 100 %>%</p>
              <p> neutral:&nbsp;  <%=face.scores.neutral * 100 %>%</p>
              <p> sadness:&nbsp;  <%=face.scores.sadness * 100 %>%</p>
              <p> surprise: &nbsp; <%=face.scores.surprise * 100 %>%</p>
              <br/>
            <%})%>
          </div>

        </div>

        <div class='right'>
          <h1 class='emotion-text'>We detect that you are... <%=faceData[0].largestEmotion%> </h1>
        </div>

      <% } else { %>
        <h1>ERROR, please use another link</h1>
      <% } %>


    </div>

  </body>

</html>

